<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Reiņa čats</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body onload="lasiChatu();" class="body">
    <script src="script.js"></script>
    <div class="container">
        <h3 class=" text-center">Messaging</h3>
        <div class="messaging">
            {% block saturs %}
            {% endblock %}
            <script src="{{ url_for('static', filename='chats.js') }}"></script>
        </div>
    </div>
</body>

</html>